.filterDiv {
  float: left;
  background-color: green;
  color: #ffffff;
  width: 150px;
  line-height: 20px;
  text-align: center;
  margin: 2px;
  display: none;
  font-size: 12px;
  font: arial;
}

.ticker{
  font-family: Arial, Helvetica, sans-serif;
}

.show {
  display: block;
}

.container {
  margin-top: 20px;
  overflow: hidden;
}

.btn {
  border: none;
  outline: none;
  padding: 12px 16px;
  background-color: #f1f1f1;
  cursor: pointer;
}

.btn:hover {
  background-color: #ddd;
}

.btn.active {
  background-color: #666;
  color: white;
}

.sec-con{
  text-align: center;
  margin: center;
  width: 100%;
}

div.ui-menu li {
  list-style:none;
  background-image:none;
  background-repeat:none;
  background-position:0; 
}

#new-stock-form{
  display: inline-block;
}

body {
  text-align: center;
}
